

<!DOCTYPE html>

<html>
  <head>
   
 
  
  </head>
  <body>
 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <div class="topnav">
     
      <input type="text" placeholder="Search..">
    </div>

    <div id="p-float">
      
<div *ngFor="let io of datos">   
      <div class="p-float"><div class="p-float-in">
        <img class="p-img" src={{io.imageUrl}}/>
        <button class="p-add">{{io.maximumCredits}} CREDITS</button>
        <div class="p-name">{{io.name}}</div>        
        <div class="p-desc">{{io.provider.name}}</div>
        <div class="p-price">${{io.price}}
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
      </div>
      </div></div>
    
      
      
      
    </div>
  </body>
</html>
   
   
   
   
 
   
 